<header>
  <mat-toolbar color="primary" class="mat-toolbar">
    <a routerLink="/">
      <img src="assets/img/header_logo.png" />
    </a>
    <span class="spacer"></span>
    <mat-icon aria-hidden="false" *ngIf="!id" routerLink="/login" class="icon">
      login
    </mat-icon>
    <mat-icon aria-hidden="false" (click)="logout()" *ngIf="id" class="icon">
      logout
    </mat-icon>
    <mat-icon aria-hidden="false" *ngIf="id" routerLink="/cart" class="icon">
      shopping_cart
    </mat-icon>
    <mat-icon aria-hidden="false" *ngIf="id" routerLink="/ordered" class="icon">
      history
    </mat-icon>
  </mat-toolbar>
</header>
