<app-header></app-header>

<div class="search">
  <mat-form-field appearance="fill">
    <mat-label>商品を検索</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchValue"
      autocomplete="on"
      list="coffeeList"
    />
    <datalist id="coffeeList">
      <option
        *ngFor="let coffee of coffeeList"
        value="{{ coffee.coffee_name }}"
      ></option>
    </datalist>
    <button
      *ngIf="searchValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchValue = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-stroked-button
    color="primary"
    (click)="searchItem()"
    data-content="search"
  >
    検索
  </button>
  <div>
    <button
      mat-stroked-button
      color="primary"
      (click)="heighCostSort()"
      data-content="heigh"
    >
      高い順
    </button>
    <button
      mat-stroked-button
      color="accent"
      (click)="lowCostSort()"
      data-content="low"
    >
      低い順
    </button>
  </div>
</div>

<mat-spinner *ngIf="showSpinner" class="spinner"></mat-spinner>

<div class="display">
  <mat-card
    class="card"
    *ngFor="let list of searchCoffee"
    routerLink="/detail/{{ list.id }}"
  >
    <img mat-card-image [src]="list.img" [alt]="list.coffee_name" />
    <mat-card-content class="content">
      <div>
        <div class="text">{{ list.coffee_name }}</div>
        <span class="size">
          Mサイズ：{{ list.coffee_priceM | currency: "JPY" }}
        </span>
        <span class="size">
          Lサイズ：{{ list.coffee_priceL | currency: "JPY" }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
