.parent {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 20px 20px;
  text-align: center;
}

table,
td,
th {
  border-bottom: 1px solid #e0e0e0;
}

.name {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.image {
  width: 200px;
}

ul {
  list-style-type: none;
}

.topping {
  text-align: left;
}

.total {
  margin: 10px;
  font-weight: bold;
  font-size: 25px;
  text-align: right;
}

h2 {
  margin-top: 20px;
}

form {
  margin: 20px;
}

mat-form-field {
  margin: 10px;
  width: 65%;
}

button {
  font-size: 18px;
  margin: 3px;
  border-radius: 10px;
}
